body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light gray background */
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* White background for content */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Drop shadow effect */
  }
  
  .content {
    text-align: center;
  }
  
  img {
    width: 350px; /* Adjust width as needed */
    height: 200px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .payment-methods {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9; /* Light gray background */
    border-radius: 5px;
  }
  
  .payment-methods h2 {
    margin-top: 0;
  }
  
  .payment-methods ul {
    list-style-type: none;
    padding: 0;
  }
  
  .payment-methods li {
    margin-bottom: 5px;
    font-size: 15px;
    color: #333;
    
  }


  .address-box {
    background-color: #ccc; /* Light gray background */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(50, 2, 2, 0.1);
  }
  
  .address-box p {
    margin: 5px 0;
  }

  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Full width of parent container */
    height: 30px; /* Adjust height of the overlay box */
    background-color: gray; /* Background color with transparency */
  }
  
  .text {
    color: white;
    font-size: 14px;
    line-height: 30px; /* Center text vertically within the overlay box */
    padding: 0 10px; /* Add padding to the text */
  }

  footer {
    background-color: #f4f4f4; /* Background color for the footer */
    padding: 20px; /* Padding around the content */
    text-align: center; /* Center align content */
  }
  
  .contact-box {
    background-color: #ffffff; /* Background color for the contact box */
    padding: 20px; /* Padding around the content */
    border-radius: 10px; /* Rounded corners for the box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  }
  
  .contact-box h2 {
    margin-bottom: 10px; /* Bottom margin for the heading */
  }
  
  .contact-box p {
    margin-bottom: 5px; /* Bottom margin for paragraphs */
  }


  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.transactions {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.count {
    font-size: 24px;
    font-weight: bold;
}

.label {
    font-size: 16px;
}